<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated liquibase -->
      <package
            uri="http://www.liquibase.org/xml/ns/dbchangelog"
            class="hu.blackbelt.judo.meta.liquibase.LiquibasePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated liquibase -->
      <parser
            type="changelog.xml"
            class="hu.blackbelt.judo.meta.liquibase.util.LiquibaseResourceFactoryImpl"/>
   </extension>
</plugin>
